{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "max-len": [2, 120],
    "no-var": [0],
    "vars-on-top": [0]
  },
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 6
  }
}